<h4>Welcome to the DC Quiz!</h4> 

<button (click)="askQuestion()">Begin</button>

<div *ngIf="questions.length">
        <div *ngIf="clicked">
                <form >
                        <div >
                                <h1 >{{question.question}}</h1>
                                <h4  *ngFor="let answer of question.answers; index as i;">{{answer.answer}}
                                <input name="selectedAnswer" [(ngModel)]="selectedAnswer" [value]="answer"  type="radio">  
                                </h4>
                                <h3 *ngIf="selectedAnswer && selectedAnswer.correct">Correct</h3>
                                <button (click)= next()>Next Question</button>
                                <!-- <button (click)="onClick(selectedAnswer)">Submit</button> -->
                        </div>
                </form>
        
        </div>
</div>

<div *ngIf="!questions.length">
        You're done
</div>


