* {
  box-sizing: border-box;
}
h4 {
  color: red;
  font-size: 35px;
}

button.choice {
  background: none;
  color: black;
  border: none;
  /* box-shadow: none; */
  display: flex;
}

button {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-top: 25px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  border-width: 5px;
  border-color: black;
  box-shadow: 0px 0px 5px black;
  background-color: yellowgreen;
  margin-left: 0px;
}

button:hover {
  box-shadow: 0px 0px 50px yellow;
  color: black;
  background-color: white;
}

button:active {
  box-shadow: 0px 0px 50px yellow;
  color: black;
  background-color: white;
}

.q-and-a {
  font-size: 20px;
  font-weight: bold;
}

#question {
  background: white;
}

.MarvelQ {
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
}
button {
  font-weight: normal;
}

.not-open {
  display: none;
}
h4 {
  color: rgb(0, 162, 255);
}
button {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-top: 25px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  border-width: 5px;
  border-color: black;
  box-shadow: 0px 0px 5px black;
  background-color: yellowgreen;
}
button:hover {
  box-shadow: 0px 0px 50px yellow;
  color: black;
  background-color: white;
}
.q-and-a {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
* {
  box-sizing: border-box;
}
span {
  display: flex;
  flex-direction: column;
  position: relative;
}

.material-icons {
  /* display: flex;
  flex-grow: 1;
  margin-right: 230px; */

  position: absolute;
  right: 135px;
  top: 35px;
}

.button {
  background-color: rgb(255, 196, 0);
  color: white;
  text-align: center;
  padding: 35px;
  width: 250px;
  margin: 0px auto;
  margin-top: 25px;
  font-weight: bold;
  font-size: 40px;
  border-radius: 15px;
  /* border-color: black solid 5px; */
  box-shadow: 0px 0px 5px black;
}
.correct {
  background-color: rgb(6, 224, 61);
}
.not-correct {
  background-color: rgb(224, 69, 8);
}
.clicked {
  display: none;
}