<h4>Welcome to the Marvel Quiz!</h4> 

<div class="MarvelQ">
    <div id="question" class="q-and-a">Q: {{question.Question}}</div>    
    <button class="choice" (click)="checkAnswer(answer, question)" *ngFor="let answer of question.Answers">{{answer}}</button>
    <app-answers [correct]="correct" [ngClass]="{'open' : open, 'not-open' : !open}"></app-answers>
    <!-- <app-answers [open]="open" [correct]="correct"></app-answers> -->
    <button class="next" (click)="next()">Next Question</button>
</div>