/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
}
html {
    background-image: url(https://i.pinimg.com/736x/13/a1/0b/13a10b298c0ac605c79e73ef010fd7a4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body {
    height: 100vh;
    width: 100vw;
}
h1 {
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 25px;
    text-shadow: 5px 5px 10px #000000;
    outline: none;
}
h2 {
    font-size: 50px;
    text-align: center;
    margin: 25px;
}
h3 {
    font-size: 25px;
    text-align: center;
}
h4 {
    font-size: 50px;
    text-align: center;
    margin: 25px;
}
.beginning {
    width: 80vw;
    margin: 25px auto;
    border-radius: 15px;
    background-color: white;
    padding: 25px;
    
}
button {
    width: 250px;
    height: 150px;
    margin: 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    border-width: 5px;
    border-color: black;
    box-shadow: 0px 0px 5px black;
}
button:hover {
    box-shadow: 0px 0px 100px yellow;
    color: black;
    background-color: white;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.red {
    background-color: red;
}
.blue {
    background-color: rgb(0, 162, 255); 
}
.yellow {
    background-color: rgb(255, 196, 0);
}