* {
    box-sizing: border-box;
}
span {
    display: flex;
    flex-direction: column;
    position: relative;
}

.material-icons {
    /* display: flex;
    flex-grow: 1;
    margin-right: 230px; */

    position: absolute;
    right: 135px;
    top: 35px;
}

.button {
    background-color: rgb(255, 196, 0);
    color: white;
    text-align: center;
    padding: 35px;
    width: 250px;
    margin: 0px auto;
    margin-top: 25px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 15px;
    /* border-color: black solid 5px; */
    box-shadow: 0px 0px 5px black;
    /* margin-left: 0px; */
}

.correct {
    background-color: rgb(6, 224, 61);
}
.not-correct {
    background-color: rgb(224, 69, 8);
}